<ion-header>
  <ion-toolbar [myScrollVanish]="scrollArea">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-item (click)="verinstructor(datos.idusuarios)" *ngIf="owner==false">
          <ion-avatar item-start>
              <img [src]="datos.foto">
            </ion-avatar>
            <ion-label class="name-instructor">  
              instructor <br>
              {{datos.fullname}}  
            </ion-label>
            <ion-icon slot="end" name="md-arrow-dropright"></ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content #scrollArea scrollEvents="true" class="ion-no-padding" full-screem [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-list>
    
    <div>
      <ion-slides pager>
          <ion-slide *ngFor="let f of datos.fotos">
            <img [src]="f.url" alt="">
          </ion-slide>
        </ion-slides>
      </div> 
        <ion-card-header >
          <div *ngIf="owner==false">
            <!--

              <ion-button expand="block" color="primary" fill="outline" (click)="detallepago(datos.costo)">
                  Suscribirme | {{datos.costo}} {{datos.tipomoneda}}
                </ion-button> 
            -->
                <ion-button *ngIf="verificacion.length==0 ; else blockelse" expand="block" color="primary" fill="outline" (click)="verHorarios(datos.idcursos,datos.idusuarios,datos.titulo)">
                  Horarios | {{datos.costo}} {{datos.tipomoneda}}
                </ion-button> 
                <!--<ion-button *ngIf="verificacion.length==0" expand="block" color="primary" fill="outline" (click)="detallepago(datos.costo)">
                      Suscribirme | {{datos.costo}} {{datos.tipomoneda}}
                  </ion-button> --> 
                  <ng-template #blockelse>
                    <ion-button expand="block" color="primary" fill="outline" (click)="gocourse(datos.idcursos,datos.idusuarios)">
                      Ya estas suscrito!! ir curso
                    </ion-button>
                  </ng-template>
          </div>
          <ion-card-title>{{datos.titulo}}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content >
          {{datos.descripcion}}
        </ion-card-content>
        <ion-item>
          <ion-label>Duración {{datos.semanas}} Semanas</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Costo {{datos.costo}} {{datos.tipomoneda}}</ion-label>
        </ion-item>
        
        <ion-item *ngIf="datos.telefono!==null">
          <ion-label> {{datos.telefono}}</ion-label>
          <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
        </ion-item>
        <div id="mapMOD" style="height: 200px;"></div>
        <ion-item >
            <ion-label>Horarios</ion-label>
            
          </ion-item>
          <div *ngFor="let h of horario">

            <div *ngIf="h.horas.length!=0">
              <ion-list-header>
                {{dias[h.nombre]}}
              </ion-list-header>

                <div *ngFor="let p of h.horas; let i = index">
                  <ion-row no-padding>
                    <ion-col no-padding>
                      <ion-item>
                        <ion-label>Cantidad {{p.cantidad}}</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-item>
                        <ion-label>{{p.inicio}}</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col no-padding>
                      <ion-item>
                        <ion-label>{{p.fin}}</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </div>
              </div>

            </div>
  </ion-list>
      <!--
 <ion-item  color="primary" (click)="verHorarios(datos.idcursos,datos.idusuarios)">
        <ion-label class="ver-post"  slot="start">
          Seleccionar horario
        </ion-label>
      </ion-item>
      <ion-button (click)="abrirpagina()">
        Click me bow
      </ion-button>
      -->
</ion-content>
