<ion-header>
	<ion-toolbar>
		<ion-title>Mis Alumnos</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<p>Mis Alumnos</p>
	<hr>
	<ion-list>
		<ion-item *ngFor="let item of alumnos" class="ion-no-padding" (click)="veralumno(item)">
			<ion-avatar item-start>
				<img [src]="item.foto" class="img-alumnos">
			</ion-avatar>
			<ion-label class="label-alumnos">{{item.fullname}}
				<p>Curso: {{item.titulo}}</p>
			</ion-label>
			<ion-button ng-if="item.estado==1" color="secondary" fill="outline">Ver</ion-button>
		</ion-item>

	</ion-list>
	<div *ngIf="alumnos.length==0" class="ion-no-padding" text-center class="div-noting">
			<!--<ion-img src="../../assets/imgs/ejer.png"> --> 
		<ion-label>No tienes alumnos aun..!!</ion-label>
	</div>
</ion-content>