.label-alumnos{
    margin-left: 10px
}
#myFixZone{
    height:100% !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
.div-noting{
    height: 100% !important;
    display: flex;
   justify-content: center;
   align-items: center;
    
}
.content-forcourses{
    width: 100%;
}