<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Crear Curso</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="myFormins">
      <div class="imagen"(click)="selecImage()" *ngIf="imagenes.length==0">
        <ion-icon  name="camera"></ion-icon>
      </div>
      <ion-slides pager *ngIf="imagenes.length!=0">
          <ion-slide *ngFor="let imagen of imagenes">
              <img [src]="imagen.base64" (click)="verimage(imagen.url)"/>
          </ion-slide>
      </ion-slides>
  
      <ion-list >
        <ion-item class="ion-no-padding">
          <ion-label position="floating" autofocus="true"> Titulo</ion-label>
          <ion-input type="text" formControlName='titulo' ></ion-input>
        </ion-item>
        <ion-item *ngIf="myFormins.get('titulo').errors && myFormins.get('titulo').dirty">
            <p class="msgerr" *ngIf="myFormins.get('titulo').hasError('required')">
              Campo requerido
            </p>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea type="text" formControlName='descripcion'></ion-textarea>
        </ion-item>
        <ion-item *ngIf="myFormins.get('descripcion').errors && myFormins.get('descripcion').dirty">
            <p class="msgerr" *ngIf="myFormins.get('descripcion').hasError('required')">Campo
              requerido
            </p>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Costo</ion-label>
            <ion-input type="text" formControlName='costo' type="number"></ion-input>
          </ion-item>
          
            <ion-item  class="ion-no-padding">
              <ion-label position="floating">Moneda</ion-label>
              <ion-select  formControlName='moneda' interface="popover">
                <ion-select-option value="USD" selected="true" >USD</ion-select-option>
                <ion-select-option value="BS">BS.</ion-select-option>
              </ion-select>
            </ion-item>
        </ion-item>
        <ion-item *ngIf="myFormins.get('costo').errors && myFormins.get('costo').dirty">
            <p class="msgerr" *ngIf="myFormins.get('costo').hasError('required')">Campo
              requerido
            </p>
        </ion-item>
        <ion-item *ngIf="myFormins.get('moneda').errors && myFormins.get('moneda').dirty">
          <p class="msgerr" *ngIf="myFormins.get('moneda').hasError('required')">Selecciona tipo de moneda
          </p>
        </ion-item>
        <ion-item  class="ion-no-padding" (click)="selectDuracion()">
          <ion-label>Duracion:</ion-label>
          <ion-label id="duracion"> {{duracion}} </ion-label>
        </ion-item>
        <p>Horarios:</p>
        <ion-item  class="ion-no-padding" (click)="viewhoarios()">
         
          <ion-select  formControlName='moneda' interface="popover" class="ion-no-padding">
            <ion-select-option value="online" selected="true" >Online</ion-select-option>
            <ion-select-option value="presencial">Presenciales</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="adicionarlugar()" shape="round" fill="clear" class="ion-no-padding" text-left>
          <ion-icon  name="md-add" ></ion-icon> Adicionar nueva horario
        </ion-button>
        <p>Lugar: 
         
        </p>
        <ion-item  class="ion-no-padding">
          <ion-select  formControlName="gym" interface="popover" class="ion-no-padding">
            <ion-select-option *ngFor="let item of datoslug" [value]="item.iddatos_ins" >{{item.nombregym}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="adicionarlugar()" shape="round" fill="clear" class="ion-no-padding" text-left>
          <ion-icon  name="md-add" ></ion-icon> Adicionar nueva ubicación
        </ion-button>
       
      </ion-list>
    </form>
</ion-content>
