<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar curso</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" slot="end" (click)=modificar()>
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-slides pager>
      <ion-slide *ngFor="let f of datos.fotos">
        <img [src]="f.url" alt="">
      </ion-slide>
    </ion-slides>
  </div>
  <form [formGroup]="myFormins">
    <ion-list class="ion-padding">
      <ion-item class="ion-no-padding">
        <ion-label position="floating" autofocus="true"> Titulo</ion-label>
        <ion-input type="text" formControlName='titulo' [value]="datos.titulo"> </ion-input>
      </ion-item>
      <ion-item *ngIf="myFormins.get('titulo').errors && myFormins.get('titulo').dirty">
        <p class="msgerr" *ngIf="myFormins.get('titulo').hasError('required')">
          Campo requerido
        </p>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea type="text" formControlName='descripcion' [value]="datos.descripcion"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="myFormins.get('descripcion').errors && myFormins.get('descripcion').dirty">
        <p class="msgerr" *ngIf="myFormins.get('descripcion').hasError('required')">Campo
          requerido
        </p>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Costo</ion-label>
          <ion-input type="text" formControlName='costo' [value]="datos.costo" type="number"> </ion-input>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">Moneda</ion-label>
          <ion-select formControlName='moneda' interface="popover">
            <ion-select-option value="USD">USD</ion-select-option>
            <ion-select-option value="BS">BS</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>
      <ion-item *ngIf="myFormins.get('costo').errors && myFormins.get('costo').dirty">
        <p class="msgerr" *ngIf="myFormins.get('costo').hasError('required')">Campo
          requerido
        </p>
      </ion-item>
      <ion-item *ngIf="myFormins.get('moneda').errors && myFormins.get('moneda').dirty">
        <p class="msgerr" *ngIf="myFormins.get('moneda').hasError('required')">Selecciona tipo de moneda
        </p>
      </ion-item>
      <ion-item class="ion-no-padding" (click)="selectDuracion()">
        <ion-label>Duracion:</ion-label>
        <ion-label id="duracion"> {{duracion}}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label>Horario:</ion-label>
        <ion-select cancelText="Cancelar" class="ion-no-padding" formControlName='horario' interface="action-sheet"
          placeholder="Horario:">
          <ion-select-option *ngFor="let item of horarios" [value]="item.idtipo_horario">{{item.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="adicionarhorario()" shape="round" fill="clear" class="ion-no-padding" text-left>
        <ion-icon name="md-add"></ion-icon> Adicionar nuevo horario
      </ion-button>
      <ion-item class="ion-no-padding">

        <ion-label>Lugar: </ion-label>
        <ion-select cancelText="Cancelar" formControlName="iddatos_ins" interface="action-sheet" placeholder="Lugares:"
          class="ion-no-padding">
          <ion-select-option *ngFor="let item of datoslug" [value]="item.iddatos_ins">{{item.nombregym}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="adicionarlugar()" shape="round" fill="clear" class="ion-no-padding" text-left>
        <ion-icon name="md-add"></ion-icon> Adicionar nueva ubicación
      </ion-button>
    </ion-list>
  </form>
</ion-content>