
img{
    width: 20%;
} 

ion-content {
    --background: url('../../assets/imgs/fondo1.png') no-repeat 100% 100%;
}

.titulo-app{
    margin-bottom: 80%;
    color: aliceblue;
    font-size: 30px
}
.content-log{
    width: 100% !important;
}
ion-toolbar {
    height: 150px !important;
    --background: transparent;
    --ion-color-base: transparent !important;
    }