ion-content {
    --ion-background-color: rgb(217, 217, 217) !important;
    //--background: url('../../assets/imgs/fondo01.png') no-repeat center center / cover;
    //--ion-background-color: transparent !important;
    
}

.shadow-red{
    --ion-button-round-border-radius: 40px;
    --ion-button-border-radius: 5px;
    --ion-border-radius: 5px;
    --border-radius: 40px;
}
.my-label{
    
    font-size: 0.7em !important;
}
.no-padding{
    padding-bottom: 0% !important;
    text-align: center !important;
    padding-top: 20px !important;
}

.contenedor{
    padding-top: 150px !important;
}
ion-item {
    --highlight-color-valid: medium !important;
    --highlight-color-invalid: medium !important;
  }