<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>Historial</ion-title>

    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row *ngFor="let n of historial">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <p>{{ n.date}}</p>
            <ion-row justify-content-center align-items-center>
                <ion-col col-2> <span class="bold">Set</span> </ion-col>
                <ion-col col-3><span class="bold">Peso</span></ion-col>
                <ion-col col-2><span class="bold">Rep.</span></ion-col>
                <ion-col col-3><span class="bold">Tiempo</span></ion-col>
              </ion-row>
              <ion-row *ngFor="let dato of n.sets; let o = index;" justify-content-center align-items-center>
                  <ion-col col-2 >{{o+1}} </ion-col>
                  <ion-col col-3 ><span *ngIf="dato.peso!=''">{{dato.peso}} Kg</span></ion-col>
                  <ion-col col-2 ><span *ngIf="dato.repeticiones!=''">{{dato.repeticiones}}</span></ion-col>
                  <ion-col col-3 ><span *ngIf="dato.tiempo!=''">{{dato.tiempo}} min</span></ion-col>
                </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
