<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Incio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-cursos">
      <ion-icon name="ios-list"></ion-icon>
      <ion-label>Mis Cursos</ion-label>
      <ion-badge color="danger" [hidden]="cont==0">{{cont}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="miperfil">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>