<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>Horarios </ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="crearhorario()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div *ngIf="datos.length==0" class="ion-no-padding" text-center class="div-noting">
    <ion-label>No tienes horarios guardados<br> Comienza ahora..!!</ion-label>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of datos; let i=index" >
      <ion-label>{{item.nombre}}</ion-label>

      <ion-button fill="clear" *ngIf="item.estado==1" (click)="presentActionSheet(item,i)">
          <ion-icon slot="icon-only" name="more" color="success" ></ion-icon>
      </ion-button>
      <ion-button fill="clear" *ngIf="item.estado==0" (click)="presentActionSheet(item,i)">
          <ion-icon slot="icon-only" name="more" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
