<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>{{ejercicio.nombre}}</ion-title>
    <!--

      <ion-button fill="clear" (click)="opciones()" slot="end">
              <ion-icon name="md-list-box"></ion-icon>
          </ion-button>
      <ion-button fill="clear" (click)="opciones()" slot="end">
          <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    -->
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
      <ion-slides >
          <ng-container *ngIf="imagenes.length!=0; else elseBlock">
            <ion-slide *ngFor="let imagen of imagenes">
      
              <img [src]="imagen.url" />
      
            </ion-slide>
      
          </ng-container>
          <ng-template #elseBlock>
            <ion-slide>
              <img src="../../assets/imgs/defecto.jpeg" />
            </ion-slide>
          </ng-template>
          <ion-slide *ngIf="ejercicio.linkyoutube!='' && ejercicio.linkyoutube; " class="video">
            <iframe width="100%" height="250px" [src]="youtubeaux" frameborder="0"
              allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-slide>
        </ion-slides>
    <ion-card-header >
        <ion-card-title>Tipo: {{ejercicio.tipo}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content >
        Instrucciones: {{ejercicio.instrucciones}}
    </ion-card-content>
  </ion-card>
  
    

        <ion-grid class="ion-padding">
                <ion-row >
                  <ion-col size="2" size-sm class="ion-align-self-center">
                    <div>
                      Set
                    </div>
                  </ion-col>
                  <ion-col size="3" size-sm>
                    <div>
                      Peso
                    </div>
                  </ion-col>
                  <ion-col size="2" size-sm>
                    <div>
                      Repet.
                    </div>
                  </ion-col>
                  <ion-col size="3" size-sm>
                    <div>
                      Tiempo
                    </div>
                  </ion-col>
                  <ion-col size="2" size-sm>
                        <div>
                          
                        </div>
                      </ion-col>
                </ion-row>
                <ion-row *ngFor="let set of sets; let i=index">
                        <ion-col size="2" size-sm class="ion-align-self-center">
                          <div>
                            {{i+1}} set
                          </div>
                        </ion-col>
                        <ion-col size="3" size-sm>
                          <div>
                          </div>
                        </ion-col>
                        <ion-col size="2" size-sm>
                          <div>
                          </div>
                        </ion-col>
                        <ion-col size="3" size-sm>
                          <div>
                          </div>
                        </ion-col>
                        <ion-col size="2" size-sm>
                              <div>
                                <ion-checkbox></ion-checkbox>
                              </div>
                            </ion-col>
                      </ion-row>
        </ion-grid>
        <ion-list>
          <ion-item *ngFor="let i of sets">
            <ion-label>Awesome Label</ion-label>
          </ion-item>
        </ion-list>
</ion-content>
