<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>crearTipoejercicio</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="guardar()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row align-items-end>
      <ion-col col-12>
        <ion-item class="input" [formGroup]="myForm">
          <ion-label  position="floating">Nombre del tipo</ion-label>
          <ion-input  type="text" formControlName="nombre" clearInput></ion-input>
          
        </ion-item>
        <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
          <p class="msgerr" *ngIf="myForm.get('nombre').hasError('required')">Campo requerido</p> 
          <p class="msgerr" *ngIf="myForm.get('nombre').hasError('maxlength')">máximo de 50 digitos</p> 
        </ion-item>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
