<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Modificar lugar</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="guardar()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="mapMOD" style="height: 200px;"></div>
    <form [formGroup]="myFormins">
        <ion-item>
            <ion-label position="floating">Gym</ion-label>
            <ion-input formControlName='gym' type="text"></ion-input>
          </ion-item>
      <ion-item>
        <ion-label position="floating">Direccion</ion-label>
        <ion-textarea rows="2" formControlName='direccion' type="text"></ion-textarea>
      </ion-item>
    </form>
</ion-content>
