<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Crear rutina</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="guardar()">
				<ion-icon slot="icon-only" name="checkmark"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<form [formGroup]="myForm">

			<ion-item [formGroup]="myForm">
				<ion-label position="floating">Nombre</ion-label>
				<ion-input type="text" formControlName="nombre"></ion-input>
			</ion-item>
			<ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
				<p class="msgerr" *ngIf="myForm.get('nombre').hasError('required')">Campo requerido</p>
				<p class="msgerr" *ngIf="myForm.get('nombre').hasError('maxlength')">máximo de 50 digitos</p>
			</ion-item>

			<ion-item>
				<ion-label position="floating">Descripcion</ion-label>
				<ion-input type="text" formControlName="descripcion"></ion-input>
			</ion-item>
			<ion-item *ngIf="myForm.get('descripcion').errors && myForm.get('descripcion').dirty">
				<p class="msgerr" *ngIf="myForm.get('descripcion').hasError('required')">Campo requerido</p>
				<p class="msgerr" *ngIf="myForm.get('descripcion').hasError('maxlength')">máximo de 200 digitos</p>
			</ion-item>
			
			<!--
        -->
		</form>
		<div *ngIf='idalumno'>

				<ion-item>
					<ion-label>inicio</ion-label>
					<ion-datetime [(ngModel)]='personal.fechaini' display-format="DD MMMM YYYY" min="2019" max="2020"></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label>fin</ion-label>
					<ion-datetime [(ngModel)]='personal.fechafin' display-format="DD MMMM YYYY" min="2019" max="2020"></ion-datetime>
				</ion-item>
			</div>
	</ion-list>
	<div color="carts">
		<div scrollX="true" class="ionscroll" color="normal">
			<div class="itemsel">
				<div class="cerrar">
					<ion-icon name="ios-add-circle-outline" (click)="addEjercicio()"></ion-icon>
				</div>
				<div class="selecionados add">
					<ion-icon src="../../../assets/icon/dumbbell.svg" (click)="addEjercicio()"></ion-icon>
				</div>
				<div>
					<p>Agregar ejercicio</p>

				</div>


			</div>
			<div class="itemsel" *ngFor="let item of ejercicios; let o = index;">
				<div class="cerrar">
					<ion-icon name="close-circle-outline" (click)="eliminar(o)">

					</ion-icon>
				</div>
				<img class="selecionados" *ngIf="item.miniatura; else elseBlock" [src]="item.miniatura" />
				<ng-template #elseBlock>
					<img class="selecionados" src="../../assets/imgs/defecto.jpeg" />
				</ng-template>
				<div>
					<p>{{item.nombre}}</p>

				</div>

			</div>
		</div>
	</div>

</ion-content>