<ion-tabs #tabadm>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cursos" >
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Mis cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="misalumnos">
      <ion-icon name="ios-people"></ion-icon>
      <ion-badge color="danger" [hidden]="cont==0">{{cont}}</ion-badge>
      <ion-label>Alumnos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="rutinas">
        <ion-icon src="../../../assets/icon/run.svg"></ion-icon>
        <ion-label>Rutinas</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="tipo-ejercicios">
      <ion-icon src="../../../assets/icon/dumbbell.svg"></ion-icon>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>
<!--

  <ion-tab-button tab="">
    <ion-icon src="../../../assets/icon/dumbbell.svg"></ion-icon>
    <ion-label>Dietas</ion-label>
  </ion-tab-button>
-->

    <ion-tab-button tab="perfil">
      <ion-icon name="ios-person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>