.costo-post{
    text-align: right;
}
.name-instructor{
    margin-left: 10px !important
}
.padding-post-detail{
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
ion-label{
    font-size: 15px !important;
    color: rgb(116, 116, 116) !important;
}

ion-card{
    margin-bottom: 10px
}
