<ion-header>
  <ion-toolbar>
    <ion-title>Mis Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <div *ngIf="datos.length==0" class="ion-no-padding" text-center class="div-noting">
        <ion-label>No te suscribiste a un curso aun..!!
          <ion-button fill="outline" (click)=inicio()>
            Empieza ahora..!!!
          </ion-button>
        </ion-label>
      </div>
  <ion-list>
    <div *ngFor="let item of datos; let i=index ">
        <ion-item (click)="vermicurso()">
            <ion-avatar item-start>
                <img [src]="item.foto">
              </ion-avatar>
          <ion-label class="label-name-course">
            {{item.titulo}}
            <br>
            <h5>Insctructor: {{item.instructor}}</h5>
          </ion-label>
        </ion-item>
    </div>
  </ion-list>
</ion-content>
