// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-icon {
    &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
    }
    &[class*="custom-pesas"] {
    mask-image: url("/src/assets/icon/dumbbell.svg");
    }
    &[class*="custom-dieta"] {
    mask-image: src("/icon/covered-food-tray-on-a-hand-of-hotel-room-service.svg");
    }
    &[class*="custom-estadisticas"] {
    mask-image: src("/icon/line-chart.svg");
    }
    &[class*="custom-persona"] {
    mask-image: src("/icon/user-silhouette.svg");
    }
    &[class*="custom-team"] {
    mask-image: src("/icon/team.svg");
    }
    &[class*="custom-run"] {
        mask-image: src("assets/icon/run.svg");
    }
}
img {
    background:transparent url("./assets/loading/ajax-loader2.gif") center no-repeat !important;
    }
    ion-content.has-refresher > .scroll-content {
         background-color: #ffffff00 !important; 
    }
//selecion de imagenes
.msgerr{
    color: red;
    font-size: 11px;
}
ion-item-option ion-icon{
    font-size: 30px;
}